.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 12px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page,
.break {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  font-size: 10px;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.page:focus {
}

.active {
  background-color: fff;

  color: black;
}

.break {
  background-color: transparent;
  color: black;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;

  color: black;
  transform: scale(1);
  cursor: pointer;
}

.arrow:focus {
  transform: scale(1.3);
}
